.bottom-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--clr-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 0;
}
.bottom-bar a{
    text-decoration: none;
    width: 35px;
    height: 35px;
}
.bottom-bar img{
    width: 35px;
    height: 35px;
}