.bottom-bar{
    position: absolute;
    bottom: 0;
    background-color: var(--clr-blue);
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    padding: 14px 0;
}
.bottom-bar a{
    text-decoration: none;
    width: 35px;
    height: 35px;
}
.bottom-bar img{
    width: 35px;
    height: 35px;
}