.main-container{
    max-width: 500px;
    height: 100%;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    background-color: var(--clr-white);
    padding: 50px 30px 20px;
}
.date-container{
    display: flex;
    justify-items: center;
    margin: auto;
    max-width: calc(100% - 20px);
    background-color: var(--clr-gray-100);
    border-radius: 32px;
    cursor: pointer;
}
.date-container span{
    border-radius: 32px;
    padding: 12px;
    width: 100%;
    text-align: center;
    font-weight: 700;
}
.date-container span:first-child{
    background-color: var(--clr-blue);
    color: var(--clr-gray-100);
}
.date-container span:nth-child(2){
    background-color: var(--clr-gray-100);
    color: var(--clr-blue);
}
/* MAIN CONTENT */
.content{
    padding: 30px 0;
}
.content > div{
    display: flex;
    justify-content: space-between;
    margin: 0px 0 20px 0;
    padding: 8px;
    font-size: 20px;
}
.current-date{
    font-weight: 700;
    color: var(--clr-blue);
}
.total-spent{
    font-weight: 700;
    color: var(--clr-orange);
}
.expense-list{
    list-style: none;
    font-weight: bold;
    overflow: scroll;
}
.expense-list img{
    border-radius: 4px;
    width: 36px;
}
.expense-list li{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    padding: 8px;
    margin: 6px 0 0;
    font-size: 18px;
}
.money-spent{
    color: var(--clr-orange);
    justify-self: flex-end;
}
.expense-list li:hover{
    background-color: var(--clr-gray-100);
    border-radius: 12px;
}