.moneybox{
    position: fixed;
    top: calc(0% + 169px);
    width: clamp(375px, 100%, 450px);
    height: 100%;
    background-color: var(--clr-white);
    border-top-left-radius: 28px; border-top-right-radius: 28px;
    padding: 20px 0;
    transform: translateY(200%);
    transition: 1.5s;
}
.show-money-bar{
    transform: translateY(0);
    transition: 1.5s;
}
.close-moneybox{
    position: fixed;
    top: 2%;
    left: 5%;
    cursor: pointer;
    animation: rotate 2s ease infinite;
    padding: 2px;
}
.close-moneybox:hover{
    background-color: var(--clr-gray-100);
    border-radius: 50%;
}
.moneybox span{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: var(--clr-blue);
}
.add-money-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 80px 60px 0;
    row-gap: 12px;
}
.add-money-box span{
    background-color: var(--clr-green);
    color: var(--clr-white);
    width: calc(25% - 6px);
    padding: 12px;
    border-radius: 36px;
    margin-right: 6px;
}
#moneybox-input{
    padding: 12px 0;
    width: 75%;
    border: none;
    border-bottom: 1px solid var(--clr-gray-200);
    color: var(--clr-blue);
    font-size: 24px;
    font-weight: 700;
}
#moneybox-input:focus{
    outline: none;
}
#moneybox-submit{
    background-color: var(--clr-blue);
    color: var(--clr-white);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
}
#moneybox-submit:hover{
    background-color: rgba(0, 25, 45, 0.8);
    cursor: pointer;
}