.sidebar{
    position: fixed;
    width: 100%;
    height: 100%;
    top: calc(0% + 169px);
    background-color: var(--clr-white);
    border-top-left-radius: 28px; border-top-right-radius: 28px;
    padding: 20px 0;
    transform: translateX(-150%);
    transition: 1.5s;
}
.show-sidebar{
    transform: translateX(0%);
    transition: 1.5s;
}
.sidebar-toggle{
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
}
.sidebar span{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: var(--clr-blue);
}
.close-btn{
    position: fixed;
    top: 2%;
    left: 5%;
    cursor: pointer;
    animation: rotate 2s ease infinite;
    padding: 2px;
}
.close-btn:hover{
    background-color: var(--clr-gray-100);
    border-radius: 50%;
}
.transaction-value-container{
    display: flex;
    align-items: center;
    margin: 60px 40px 20px;
}
.transaction-value-container span{
    background-color: var(--clr-green);
    color: var(--clr-white);
    width: 20%;
    padding: 12px;
    border-radius: 36px;
    margin-right: 12px;
}
.transaction-value-container input{
    width: 80%;
    padding: 12px 0;
    border: none;
    color: var(--clr-blue);
    font-size: 36px;
    font-weight: 700;
}

/* INPUT CONTAINER */
.input-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    row-gap: 12px;
    margin: 0px 40px;
}
.input-container input, select{
    padding: 12px 0;
    border: none;
    border-bottom: 1px solid var(--clr-gray-200);
    color: var(--clr-blue);
    font-weight: 700;
    font-size: 18px;
}
.input-container img{
    width: 44px;
    padding: 4px;
    background-color: var(--clr-blue);
    border-radius: 50px;
}
::placeholder{
    color: rgba(0, 25, 45, 0.5);
}
.input-container input:focus,
.input-container select:focus{
    outline: none;
    font-size: 18px;
}
#transaction-value:focus{
    outline: none;
}
#submit-input{
    margin-top: 60px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--clr-blue);
    color: var(--clr-white);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
}
#submit-input:hover{
    background-color: rgba(0, 25, 45, 0.8);
    cursor: pointer;
}
::-webkit-calendar-picker-indicator{
    color: #00192d;
}