@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@import url(css-folder/header.css);
@import url(css-folder/main-container.css);
@import url(css-folder/sidebar.css);
@import url(css-folder/footer.css);
@import url(css-folder/add-money.css);

@keyframes bounce {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 465px) {
    .header{
        width: 100vw;
    }
    .container, .sidebar{
        width: 100%;
        max-width: 500px;
        margin: auto;
        background-color: var(--clr-white);
    }
    aside .close-btn{
        position: fixed;
        top: 2%;
    }
    .date-container{
        width: calc(100% - 100px);
    }
}
:root{
    --clr-blue:#00192d;
    --clr-green:#21ce99;
    --clr-orange:#e77b2e;
    --clr-white:#fff;
    --clr-gray-100:#f0f2f8;
    --clr-gray-200:#d9d9d9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: var(--clr-gray-200);
    width: 100vw;
    height: 100vh;
    margin: 0rem;
    overflow: hidden;
}
.container{
    background: linear-gradient(to bottom, #21ce99 50%, #fff 50%);
    height: 100%;
    overflow: auto;
}
::-webkit-scrollbar{
    width: 0;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: transparent;
}