@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root{
    --clr-blue: #00192d;
    --clr-green: #21ce99;
    --clr-orange: #e77b2e;
    --clr-white: #fff;
    --clr-gray-100: #f0f2f8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: var(--clr-green);
    width: 100%;
    height: 100%;
}
header{
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: var(--clr-green);
    color: var(--clr-white);
    padding: 30px;
}
header > p{
    font-size: 18px;
    padding: 20px 0 4px;
}
header .demo{
    display: flex;
    font-size: 32px;
    font-weight: 700;
    gap: 2px;
}
main{
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    height: 100vh;
    background-color: var(--clr-white);
    padding: 30px;
}
.date-container{
    display: flex;
    justify-content: center;
    background-color: var(--clr-gray-100);
    border-radius: 32px;
}
.date-container span{
    border-radius: 32px;
    padding: 12px;
    width: 100%;
    text-align: center;
    font-weight: 700;
}
.date-container span:first-child{
    background-color: var(--clr-blue);
    color: var(--clr-gray-100);
}
.date-container span:nth-child(2){
    background-color: var(--clr-gray-100);
    color: var(--clr-blue);
}
.content{
    padding: 30px 0;
}
.content > div{
    display: flex;
    justify-content: space-between;
    margin: 0px 0 20px 0;
    padding: 8px;
    font-size: 20px;
}
.current-date{
    font-weight: 700;
    color: var(--clr-blue);
}
.total-spent{
    font-weight: 700;
    color: var(--clr-orange);
}
.expense-list{
    list-style: none;
    font-weight: bold;
}
.expense-list li{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 6px 0 0;
    font-size: 14px;
    background-color: var(--clr-gray-100);
    border-radius: 8px;
}
.money-spent{
    color: var(--clr-orange);
}
.expense-list li:hover{
    padding: 12px;
    transition: 500ms;
}

/* SIDEBAR */