@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@import "css-folder/header.css";
@import "css-folder/main-container.css";
@import "css-folder/sidebar.css";
@import "css-folder/bottom-bar.css";
@import "css-folder/moneybox.css";

@keyframes bounce {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (width >= 500px) {
    body{
        background: url(images/background.jpg);
        background-size: auto;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    .container{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 28px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    header{
        border-top-left-radius: 28px;
        border-top-right-radius: 28px;
    }
    .bottom-bar{
        border-radius: 28px;
    }
}

:root{
    --clr-blue:#00192d;
    --clr-green:#21ce99;
    --clr-orange:#e77b2e;
    --clr-white:#fff;
    --clr-gray-100:#f0f2f8;
    --clr-gray-200:#d9d9d9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    overflow: hidden;
    width: 100%;
}
body{
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.container{
    background: linear-gradient(to bottom, #21ce99 50%, #fff 50%);
    width: clamp(375px, 100vw, 450px);
    height: 100dvh;
    max-height: 740px;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 0;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: transparent;
}