@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@keyframes bounce {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 465px) {
    body{
        background-color: var(--clr-gray-200);
    }
    .container, .sidebar{
        position: relative;
        max-width: 500px;
        margin: auto;
        background-color: var(--clr-white);
    }
    .date-container{
        width: calc(100% - 100px);
    }
}

:root{
    --clr-blue:#00192d;
    --clr-green:#21ce99;
    --clr-orange:#e77b2e;
    --clr-white:#fff;
    --clr-gray-100:#f0f2f8;
    --clr-gray-200:#d9d9d9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow: auto;
}
header{
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: var(--clr-green);
    color: var(--clr-white);
    padding: 30px;
}
header > p{
    font-size: 18px;
    padding: 20px 0 4px;
}
header .demo{
    display: flex;
    font-size: 32px;
    font-weight: 700;
    gap: 2px;
}
.container{
    background: linear-gradient(to bottom, #21ce99 50%, #fff 50%);
    height: 100vh;
}
.main-container{
    max-width: 500px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    background-color: var(--clr-white);
    padding: 50px 30px 20px;
}
/* DATE CONTAINER */
.date-container{
    display: flex;
    justify-items: center;
    margin: auto;
    max-width: calc(100% - 20px);
    background-color: var(--clr-gray-100);
    border-radius: 32px;
    cursor: pointer;
}
.date-container span{
    border-radius: 32px;
    padding: 12px;
    width: 100%;
    text-align: center;
    font-weight: 700;
}
.date-container span:first-child{
    background-color: var(--clr-blue);
    color: var(--clr-gray-100);
}
.date-container span:nth-child(2){
    background-color: var(--clr-gray-100);
    color: var(--clr-blue);
}
/* MAIN CONTENT */
.content{
    padding: 30px 0;
}
.content > div{
    display: flex;
    justify-content: space-between;
    margin: 0px 0 20px 0;
    padding: 8px;
    font-size: 20px;
}
.current-date{
    font-weight: 700;
    color: var(--clr-blue);
}
.total-spent{
    font-weight: 700;
    color: var(--clr-orange);
}
.expense-list{
    list-style: none;
    font-weight: bold;
    overflow: scroll;
}
.expense-list img{
    border-radius: 4px;
    width: 36px;
}
.expense-list li{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    padding: 8px;
    margin: 6px 0 0;
    font-size: 18px;
}
.money-spent{
    color: var(--clr-orange);
    justify-self: flex-end;
}
.expense-list li:hover{
    background-color: var(--clr-gray-100);
    border-radius: 12px;
}
/* SIDEBAR */
.sidebar{
    position: fixed;
    top: 3.5%;
    width: 100%;
    max-width: 500px;
    height: calc(100% - 20px);
    background-color: var(--clr-white);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    padding: 20px 30px;
    transform: translateY(100%);
    transition: 1.2s;
}
.show-sidebar{
    transform: translateY(16%);
    transition: 1.2s;
}
.sidebar-toggle{
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
}
.sidebar span{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: var(--clr-blue);
}
.close-btn{
    position: fixed;
    top: 2.2%;
    right: 5%;
    cursor: pointer;
    animation: rotate 2s ease infinite;
}
.transaction-value-container{
    display: flex;
    align-items: center;
    margin-top: 60px;
    padding: 0 20px;
}
.transaction-value-container span{
    background-color: var(--clr-green);
    color: var(--clr-white);
    width: 20%;
    padding: 12px;
    border-radius: 36px;
}
.transaction-value-container input{
    width: 80%;
    padding: 12px;
    border: none;
    color: var(--clr-blue);
    font-size: 36px;
    font-weight: 700;
}
/* INPUT CONTAINER */
.input-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 82%;
    align-items: center;
    row-gap: 12px;
    margin-top: 20px;
    padding: 0 20px;
}
.input-container input, select{
    padding: 12px;
    border: none;
    border-bottom: 1px solid var(--clr-gray-200);
    color: var(--clr-blue);
    font-weight: 700;
    font-size: 18px;
}
.input-container img{
    width: 44px;
    padding: 4px;
    background-color: var(--clr-blue);
    border-radius: 50px;
}
::placeholder{
    color: var(--clr-blue);
}
.input-container input:focus,
.input-container select:focus{
    outline: none;
    font-size: 18px;
}
#transaction-value:focus{
    outline: none;
}
.number-pad{
    display: grid;
    grid-template-areas: 
        "a1 a2 a3 a4"
        "a5 a6 a7 a8"
        "a9 a10 a11 a8"
        "a12 a12 a13 a8";
    justify-items: center;
}
.grid-item{
    padding: 4px;
    border: 1px solid var(--clr-gray-200);
}
.a1{
    grid-area:a1;
} 
.a2{
    grid-area:a2;
} 
.a3{
    grid-area:a3;
}
.a4{
    grid-area:a4;
    background-color: var(--clr-green);
    color: var(--clr-white);
}
.a5{
    grid-area:a5;
}
.a6{
    grid-area:a6;
}
.a7{
    grid-area:a7;
}
.a8{
    grid-area:a8;
    background-color: var(--clr-green);
    color: var(--clr-white);
    font-size: 60px;
}
.a9{
    grid-area:a9;
}
.a10{
    grid-area:a10;
}
.a11{
    grid-area:a11;
}
.a12{
    grid-area:a12;
}
/* ::-webkit-calendar-picker-indicator{
} */
/* FOOTER */
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--clr-blue);
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    padding: 14px 0;
}
footer a{
    text-decoration: none;
    width: 35px;
    height: 35px;
}
footer img{
    width: 35px;
    height: 35px;
}
/* SCROLLBAR */
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: transparent;
}