@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@keyframes bounce {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 465px) {
    .container, .sidebar{
        position: relative;
        max-width: 600px;
        margin: auto;
    }
    .date-container{
        width: calc(100% - 100px);
    }
}

:root{
    --clr-blue: #00192d;
    --clr-green: #21ce99;
    --clr-orange: #e77b2e;
    --clr-white: #fff;
    --clr-gray-100: #f0f2f8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    position: sticky;
    background-color: var(--clr-green);
    width: 100%;
    height: 100vh;
}
header{
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: var(--clr-green);
    color: var(--clr-white);
    padding: 30px;
}
header > p{
    font-size: 18px;
    padding: 20px 0 4px;
}
header .demo{
    display: flex;
    font-size: 32px;
    font-weight: 700;
    gap: 2px;
}
.main-container{
    /* height: 100%; */
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    background-color: var(--clr-white);
    padding: 50px 30px 20px;
}

/* DATE CONTAINER */
.date-container{
    display: flex;
    justify-items: center;
    margin: auto;
    max-width: calc(100% - 20px);
    background-color: var(--clr-gray-100);
    border-radius: 32px;
    cursor: pointer;
}
.date-container span{
    border-radius: 32px;
    padding: 12px;
    width: 100%;
    text-align: center;
    font-weight: 700;
}
.date-container span:first-child{
    background-color: var(--clr-blue);
    color: var(--clr-gray-100);
}
.date-container span:nth-child(2){
    background-color: var(--clr-gray-100);
    color: var(--clr-blue);
}

/* MAIN CONTENT */
.content{
    padding: 30px 0;
}
.content > div{
    display: flex;
    justify-content: space-between;
    margin: 0px 0 20px 0;
    padding: 8px;
    font-size: 20px;
}
.current-date{
    font-weight: 700;
    color: var(--clr-blue);
}
.total-spent{
    font-weight: 700;
    color: var(--clr-orange);
}
.expense-list{
    list-style: none;
    font-weight: bold;
}
.expense-list li{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 6px 0 0;
    font-size: 14px;
}
.money-spent{
    color: var(--clr-orange);
}
.expense-list li:hover{
    padding: 12px;
    cursor: pointer;
    background-color: var(--clr-gray-100);
    border-radius: 12px;
}

/* SIDEBAR */
.sidebar{
    position: fixed;
    top: 3.5%;
    width: 100%;
    height: calc(100% - 20px);
    background-color: var(--clr-white);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    padding: 20px 30px;
    transform: translateY(100%);
    transition: 1.2s;
}
.show-sidebar{
    transform: translateY(16%);
    transition: 1.2s;
}
.sidebar-toggle{
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
}
.sidebar span{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: var(--clr-blue);
}

.close-btn{
    position: fixed;
    top: 2.2%;
    right: 5%;
    cursor: pointer;
    animation: rotate 2s ease infinite;
}

/* INPUT CONTAINER */
.input-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 12px;
    margin-top: 60px;
    padding: 0 35px;
}
.input-container input{
    padding: 12px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--clr-blue);
    color: var(--clr-green);
    font-weight: 700;
    font-size: 18px;
}
::placeholder{
    color: rgba(33, 206, 153, 1);
}
.input-container input:focus{
    outline: none;
}
::-webkit-calendar-picker-indicator{
    display: none;
}

/* BOTTOM BAR */

/* 
.item a {
    display: inline-block;
    position: relative;
    color: black;
  }  
.item a:after {
    content: " ";
    background-color: blue;
    display: block;
    height: 2px;
    width: 0px;
    border-radius: 3px;
    transition: 0.4s;
    position: absolute;

.item a:hover:after{
    width: 100%;
  }
*/
/* IDEIAS
 js - input: onclick -> open numberpad
*/